/*dialog*/
.el-dialog__title{
  font-size: 16px;
  font-weight: 600;
}
.el-dia .el-dialog__header{
  padding-top:15px!important;
  padding-bottom: 15px!important;
}
.el-dialog__body {
  padding: 20px 20px 0;
  border-bottom: 1px solid #e9e9e9;
}

.el-dialog__header {
  padding: 15px 20px 15px;
  border-bottom: 1px #e9e9e9 solid

}

.el-dialog__footer{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: 20px;
}
.el-message-box__title{
  font-size: 16px;
  font-weight: 600;
}
