.ext-sub-title-ant { /*88888888*/
  .title-box {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 0;
    border-bottom: none;
    position: relative;
    .arr {
      display: inline-block;
      width: 6px;
      height: 18px;
      background: #00A2FF;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
    }
    .title {
      color: rgba(0, 0, 0, 0.85);
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
    }
    .status {
      /* display: inline-block;
       margin-left: 20px;*/
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      left: 120px;
    }

    .link {
      font-size: 14px;
      float: right;
      margin-top: -2px;
      a {
        display: inline-block;
        box-sizing: border-box;
        height: 36px;
        padding:0 15px;
        border-radius: 2px;
        text-align: center;
        line-height: 36px;
        border: 1px solid #00A2FF;
        font-size: 14px;
      }
      .primary {
        color: #ffffff;
        background: #00A2FF;
      }
      .default {
        color: #00A2FF;
        background: #fff;
      }
    }
    .link:after {
      content: "";
      height: 0;
      line-height: 0;
      display: block;
      visibility: hidden;
      clear: both
    }
  }
}

.a-mar-bot10 {
  margin-bottom: 10px;
}

